.book-details-container {
  margin-top: 5%;
  display: flex;
  align-items: center; /* Ensures that the image and text are vertically centered */
  padding: 20px;
}

.book-cover-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Centers the image horizontally */
}

.book-cover {
  padding-top: 100px;
  max-width: 450px; /* Adjust the width of the image */
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-info-container {
  flex: 1;
  padding-left: 30px;
  text-align: left;
  margin-top: 20px; /* Pushes the text slightly down */
}

.book-info-container h2 {
  margin-bottom: 10px;
}

.book-info-container p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.download-links {
  margin-top: 20px;
}

.download-links ul {
  padding: 0;
  list-style-type: none;
}

.download-links li {
  margin-bottom: 8px;
}

.download-links a {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

.download-links a:hover {
  text-decoration: underline;
}