.book-card {
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(25% - 32px); /* Adjusts for 4 cards per row */
  max-width: calc(25% - 32px); /* Maximum width */
  min-width: 220px; /* Minimum width */
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
}

.book-card:hover {
  transform: scale(1.05) rotateX(10deg) rotateY(10deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-cover {
  width: 100%;
  height: auto;
  max-height: 250px; /* Set maximum height for the cover image */
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.book-card:hover .book-cover {
  transform: scale(1.1);
}

.book-info {
  text-align: center;
  margin-top: 10px; /* Adds space between image and text */
  flex-grow: 1; /* Allows the info section to grow and fill available space */
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  white-space: normal; /* Allow title to wrap */
  overflow: hidden; /* Hide overflow if any */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
  max-height: 4.8em; /* Limit height to three lines */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Allow up to three lines */
  -webkit-box-orient: vertical;
}

.book-author {
  font-size: 14px;
  margin: 5px 0;
  color: #555;
}
