.book-details-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 5%;
  justify-content: center;
  align-items: flex-start; /* Aligns the content to the top */
}

/* Book Cover */
.book-cover-container {
  flex: 0.5; /* Allows the cover to fill half of the left side */
  max-height: 80vh; /* Limit height to avoid overflow */
  display: flex; /* Make it a flex container */
  justify-content: center; /* Center the content */
  align-items: center; /* Center the content vertically */
  overflow: hidden; /* Prevent scrolling */
}


.book-cover {
  width: 50vw; /* Makes the image responsive */
  height: 100vh; /* Keeps the aspect ratio */
  border-radius: 5px;
}

/* Book Info */
.book-info-container {
  flex: 1; /* Allows the info section to fill the right side */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between the elements */
}

.book-title-detail {
  color: #007bff; /* Primary color for the title */
  font-size: 24px;
  font-weight: bold;
  margin: 0; /* Removes default margin */
}

.book-detail {
  color: #333; /* Darker color for details */
  font-size: 16px;
}

/* Link Styles */
.preview-link a {
  color: #007bff; /* Link color */
  text-decoration: underline; /* Underlined link */
}

.preview-link a:hover {
  color: #0056b3; /* Darker link color on hover */
}

/* Button Styles */
button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f0f0f0; /* Light background on hover */
}

/* Modal Styles */
.read-online-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.read-online-modal {
  width: 80%;
  max-width: 900px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.read-online-iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff5c5c;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}

.close-modal-btn:hover {
  background: #ff3030;
}
